<%= form_for(@article, multipart: true) do |form| %>

	<ul>
		<% @article.errors.full_messages.each do |error| %>
		<li><%= error %></li>
		<% end %>
	</ul>

	<p>
		<%= form.label :title %><br>
		<%= form.text_field :title %>
	</p>

	<p>
		<%= form.label :body %><br>
		<%= form.text_area :body %>
	</p>

	<p>
		<%= form.label :tag_list %><br>
		<%= form.text_field :tag_list %>
	</p>

	<p>
		<% if @article.image.attached? %>
			<%= image_tag @article.image %>
		<% end %>
	  <%= form.label :image, "Attach an Image" %><br />
	  <%= form.file_field :image %>
	</p>


	<p><%= form.submit %></p>

<% end %>